---
layout: default
title: Join the GitLab for Open Source Program
description: "GitLab wants to give back to the open source community by helping teams be more efficient, secure, and productive. Learn more here!"
canonical_path: "/solutions/open-source/join/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
  - meetups.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        = image_tag "/images/community/gitlab-for-open-source-program-logo.svg", class: "gitlab-for-open-source-prograam-logo", alt: "Gitlab for Open Source logo"
        %h1.page-headline Join the GitLab for Open Source Program
        %h2.page-subtitle Our top tiers, and 50,000 CI minutes, are free for Open Source projects

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-xl.js-in-page-nav-section#about
        .col-md-10.col-md-offset-1
          %h2.u-text-brand About

          %p GitLab exists today in large part thanks to the work of hundreds of thousands of open source contributors around the world. To give back to this community, the <a href="https://about.gitlab.com/solutions/open-source/" target="_blank">GitLab for Open Source program</a> was created to help open source teams be more efficient, secure, and productive by allowing them to use GitLab's <a href="https://about.gitlab.com/pricing/" target="_blank">top tier</a></li> capabilities.



          %p All <a href="https://docs.gitlab.com/ee/public_access/public_access.html" target="_blank">public projects</a> on GitLab.com automatically receive top tier functionality at the project level. Apply to this program if you need top tier functionality at the group level or if your open source project will need the additional CI minutes that come with this program.

          %p A few things to keep in mind as you apply: 

          %ul

            %li Free top tier accounts do not include <a href="https://about.gitlab.com/support/" target="_blank">support</a>. However, you can purchase support for 95% off, at $4.95 per user per month.

            %li The number of seats is the number of different users that will use this license during the next year. For more information, see the FAQ below.

            %li Your program membership needs to be renewed annually. If you do not renew, <a href="https://about.gitlab.com/pricing/licensing-faq/#what-happens-when-my-subscription-is-about-to-expire-or-has-expired" target="_blank">your account will be downgraded</a>.

          %ul

          %p If you have any additional questions regarding this program, feel free to reach us at <a href="mailto:opensource@gitlab.com" target="_blank">opensource@gitlab.com</a>.

      .row.u-margin-top-xl.js-in-page-nav-section#requirements
        .col-md-6
          %h2.u-text-brand Requirements

          %p In order to be accepted into the GitLab for Open Source Program, applicants must meet the following requirements:

          %ul

            %li <b>OSI-approved open source license:</b> All of the code you host in this GitLab group must be published under <a href="https://opensource.org/licenses/category" target="_blank">OSI-approved open source licenses</a>
            %li <b>Not seeking profit:</b> Your organization must not seek to make a profit through services or by charging for higher tiers. Accepting donations to sustain your efforts is ok. <a href="/handbook/marketing/community-relations/opensource-program/#who-qualifies-for-the-gitlab-for-open-source-program" target="_blank">Read more about this requirement here</a>.
            %li <b>Publicly visible:</b> Your GitLab.com group or self-managed instance <i>and</i> your source code must be <a href="https://docs.gitlab.com/ee/public_access/public_access.html" target="_blank">publicly visible and publicly available</a>.

          %p If you believe your project meets all program requirements, we welcome your application! 

          %p Note: Unfortunately, we are not able to accept all open source projects that are affiliated with the US Federal government. If you are affiliated, please let us know and we will work with you to see if your project qualifies.

      .row.u-margin-top-xl.js-in-page-nav-section#application
        .col-md-6
          %h2.u-text-brand Application

          <p class="alert alert-gitlab-purple">
          During 2021, we are working on automation projects for this program that may cause disruptions to the application and renewal process. To help us prioritize, please let us know if your request is urgent by including "Urgent: [your request]" in the subject line of any email to opensource@gitlab.com.
          </p>

          %h3 Application process
          %ul
            %li Submit the application form on the right side of this page to help us verify that you meet all program requirements. For help setting up a qualifying group or project, see the relevant FAQ below
            %li You can expect an initial response from our team within 5-10 business days. You may be asked to provide additional information.

          %h3 What to expect

          %p If your application is accepted, we'll work with you to grant your license. Here's how:
          %ul
            %li The applicant will receive a zero dollar quote for signature.
            %li Review the quote and the included <a href="/handbook/legal/opensource-agreement/" target="_blank">Terms and Conditions</a>.
            %li Sign and return the quote electronically. Email our team to let us know you've completed signing the quote.
            %li Directions for accessing your license will be sent to you afer the signed quote is accepted.
            %li The license key (self-managed) or group authentication (SaaS) will require you to log in to the (<a href="https://customers.gitlab.com" target="_blank">GitLab Customer Portal</a>).

        .col-md-6
          %h3.margin-top0 Application form

          .centered-form
            %script{ src: "//page.gitlab.com/js/forms2/js/forms2.min.js" }
            %form#mktoForm_1675
            :javascript
              MktoForms2.setOptions(
              {
                formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
              });
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1675, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          %h3 Submission received!
          %p We will be in touch within 10 business days.

      .row.u-margin-top-xl.js-in-page-nav-section#renewal
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Renewal

          %h3 Email a renewal request

          %p You will need to email us annually to renew your membership.

          %p Please begin the renewal process <b>at least one month in advance</b> to ensure sufficient processing time. You will receive email reminders to do so and can renew as early as three months in advance of your membership's expiration.

          %p To renew, please send an email to <a href="mailto:opensource@gitlab.com" target="_blank">opensource@gitlab.com</a> with the following information (copy and paste):

          %pre
            %code
              Subject: Renewal Request | Date of Expiration (MM/YYYY)

              %p
              To help us find your account:

              %li Name of your organization or project
              %li Email associated with this account

              To help us make sure you still qualify:
              %li Link to your publicly visible GitLab instance
              %li Link to one of your OSI-compliant licenses
              %li Written acceptance of this statement (Include this sentence in your request): `I confirm that my organization does not seek to make a profit from this OSS project`

              To help us plan for next year:
              %li Number of seats you are renewing.
              %li Any change of ownership to the account.
              %li If the ownership needs to change, please send the new account holder's name, email address, and contact's mailing address.

          %p Our program requirements may change from time to time, and we'll need to make sure that you continue to meet them year after year. If you do not qualify upon renewal, we'll work with you to make any needed transition as smooth as possible.

          %p If you do not renew your membership for any reason, <a href="https://about.gitlab.com/pricing/licensing-faq/#what-happens-when-my-subscription-is-about-to-expire-or-has-expired" target="_blank">your account will be downgraded</a>.

          %h3 What to expect

          %p If your renewal request is accepted, you'll be asked to sign a zero dollar renewal quote. After that, here's what to expect for each type of renewal:

          %ul
            %li <b>Saas renewals:</b> No further action is necessary after your renewal is fully processed. Your account will automatically renew.
            %li <b>Self-managed renewals:</b> You'll need to download your license from the (<a href="https://customers.gitlab.com" target="_blank">GitLab Customer Portal</a>) and upload it to your instance.

      .row.u-margin-top-xl.js-in-page-nav-section#faqs
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Frequently Asked Questions

  #education-q-a.content-container.animated
    .container
      .col-md-10.col-md-offset-1
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Do I have to apply for every OSS project separately?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  The subscription is going to be for a group, so only one application will be enough. Apply with your most representative project.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I use this license for my non-open source projects, or to host private projects as well?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p No. The GitLab license can be used only for the publicly visible open source projects it was approved for. In some cases, we allow program members to host a small number of private projects if they have sensitive data in them. Please email us at opensource@gitlab.com to ask about your use case. You must obtain written permission by us to use the license outside of the program requirements.
          %li#edu-question-2.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is GitLab available in my country?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p  GitLab is available to people all over the world in <a href="https://translate.gitlab.com/<">many languages</a>. However, since we are a U.S.-based company, we do not offer our services in <a href="/handbook/business-ops/trade-compliance/#effect-on-customer-facing-web-pages">U.S. embargoed countries</a>.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Why can't I submit my form?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you live in Ukraine, you'll need to verify that you do not live in the Crimean Penninsula, since Crimea is on the U.S. embargo list. If you list your country as "Ukraine" our form won't automatically let you submit. If you do not live in Crimea, please fill out the application form and add your full address in the "billing address" section. Provide your city in the city drop down, and choose a different country (not Ukraine) in the country drop-down. You should now be able to submit the form.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to increase the number of seats in the future?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you wish to increase the number of seats on your existing license, please send an email to opensource@gitlab.com, and we’ll prepare an add-on quote for additional seats.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I purchase support for a lower number of seats than quoted?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p No. If you choose to purchase our discounted support, you must purchase it for all seats.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                What happens when my subscription is about to expire or has expired?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p We recommend that you renew your license at least one month in advance in case there are any delays. If your license is about to expire, <a href="/pricing/licensing-faq/#what-happens-when-my-subscription-is-about-to-expire-or-has-expired" target="_blank">here's what to expect</a>.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How do I create a qualifying group or project on GitLab?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %ul
                  %li Sign up for a <a href="https://about.gitlab.com/pricing/" target="_blank">Free account</a> (can be hosted or self-managed), or enroll in a free trial for our top tiers.
                  %li Create your group and set its visibility to <a href="https://docs.gitlab.com/ee/public_access/public_access.html" target="_blank">Public</a>. If you're using a self-managed instance, make sure it is publicly accessible.
                  %li Add <a href="https://opensource.org/licenses" target="_blank">OSI-approved license</a> information to at least one of the projects in your group's LICENSE files.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Who gets counted in the subscription?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Please see our <a href="/pricing/licensing-faq/#who-gets-counted-in-the-subscription">licensing and subscription FAQ</a> for the detailed explanation.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How do I choose the correct number of seats for my project?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p A GitLab.com subscription uses a concurrent (seat) model, which refers to the maximum number of users enabled at once. Every occupied seat is counted, including the owner's, with the <a href="https://docs.gitlab.com/ee/subscriptions/gitlab_com/#choose-the-number-of-users" target="_blank">exception of members with Guest permissions</a>. You can <a href="https://docs.gitlab.com/ee/user/permissions.html#permissions" target="_blank">learn more about roles and permissions here</a>. We are happy to grant you the number of seats you think you'll need for current project members as well as additional ones to plan for growth during the year. You'll have the opportunity to request additional seats at time of renewal, or you can email us at opensource@gitlab.com to request more during the year.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Why can't I see an application form on this page?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Some web browsers and privacy extensions block the application form because they identify it as a pop-up. Please disable the pop-up blocker on this page, refresh the page, and check again.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                What are the benefits of joining the GitLab for Open Source program?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p While all public projects hosted on GitLab.com already have access to top tier features at the project level, this does not include group-level Ultimate features like roadmaps, epics, and more.
                %p The GitLab for Open Source license provides the additional ability to use top tier group-level features. It also allows projects to have 50,000 CI minutes per month for free.</p>
